@model IEnumerable<BlogPost>
@{
    ViewData["Title"] = "Index";
}
<section class="page-top-section d-flex align-items-center">
    <div class="page-top-bg" data-img-src="https://wordpressriverthemes.com/adhira/wp-content/themes/adhira/assets/img/pagetop/1.jpg"></div>
    <div class="container">
        <h2 class="page-title">Blog Page<span class="text-theme">.</span></h2>
    </div>
    <div class="top-img d-xl-block d-none"><img src="https://wordpressriverthemes.com/adhira/wp-content/themes/adhira/assets/img/pagetop/1.png" alt="Image"></div>
    <div class="shape-left circle_shape"></div>
    <div class="shape-right rectangle_shape"></div>
</section>

<section class="sec-pt-120 sec-pb-120 thumb-pd-fix">
    <div class="container">
        <div class="row justify-content-left mb--30">
            <div class="col-lg-8 col-md-12">
                @foreach (var item in Model)
                {
                    <div id="post-1" class="post-1 post type-post status-publish format-standard has-post-thumbnail hentry category-adhira category-technology category-uncategorized">
                        <div class="blog_card_wrapper">
                            <div class="thumb">
                                <img width="770" height="350" src="~/uploads/images/@item.ImagePath" class="attachment-adhira-blog-sidebar size-adhira-blog-sidebar wp-post-image" alt="Adhira Creative Portfolio WordPress Theme For Agency" loading="lazy"  />
                            </div>
                            <ul class="card_meta">
                                <li><i class="fas fa-calendar-alt"></i>@item.PublishedDate?.ToString("MMMM dd, yyyy")</li>
                            </ul>
                            <h5 class="sm-title"><a asp-action="details" asp-route-id="@item.Id">@item.Title</a></h5>
                            <p>@item.Body.HtmlToPlainText().ToEllipse(300)</p>
                            <a asp-action="details" asp-route-id="@item.Id" class="btn_circle_arrow btn-theme">
                                View More <span class="circle-wrap">
                                    <svg viewBox="0 0 36 36"><circle cx="18" cy="18" r="17.5" fill="none"></circle></svg>
                                </span>
                            </a>
                        </div>
                    </div>
                }


                <div class="col-lg-12 mb-30 mt-30">
                </div>

            </div>

            <div class="col-lg-4 col-md-12">

                <div id="search-2" class="sidebar-item mb-50 widget_search">
                    <h6 class="sidebar-title">Type Keyword</h6>
                    <div class="search-wrap">
                        <form role="search" method="get" action="https://wordpressriverthemes.com/adhira/">
                            <input type='search' name="s" placeholder="Search Here..." class="form-control" id="search-box" value="">
                            <button class="search-btn"><i class="fas fa-search"></i></button>
                        </form>
                    </div>
                </div>
                <div id="recent-posts-2" class="sidebar-item mb-50 widget_recent_entries">
                    <h6 class="sidebar-title">Recent Posts</h6>
                    <ul>
                        <li>
                            <a href="https://wordpressriverthemes.com/adhira/world-class-post/">World Class Post</a>
                        </li>
                        <li>
                            <a href="https://wordpressriverthemes.com/adhira/terrific-topics/">Terrific Topics</a>
                        </li>
                        <li>
                            <a href="https://wordpressriverthemes.com/adhira/hello-portfolio/">Hello Portfolio</a>
                        </li>
                    </ul>
                </div><div id="recent-comments-2" class="sidebar-item mb-50 widget_recent_comments"><h6 class="sidebar-title">Recent Comments</h6><ul id="recentcomments"><li class="recentcomments"><span class="comment-author-link"><a href='https://wordpressriverthemes.com/adhira' rel='external nofollow ugc' class='url'>admin</a></span> on <a href="https://wordpressriverthemes.com/adhira/terrific-topics/#comment-3">Terrific Topics</a></li><li class="recentcomments"><span class="comment-author-link"><a href='https://wordpressriverthemes.com/adhira' rel='external nofollow ugc' class='url'>admin</a></span> on <a href="https://wordpressriverthemes.com/adhira/world-class-post/#comment-2">World Class Post</a></li><li class="recentcomments"><span class="comment-author-link"><a href='https://wordpress.org/' rel='external nofollow ugc' class='url'>A WordPress Commenter</a></span> on <a href="https://wordpressriverthemes.com/adhira/hello-portfolio/#comment-1">Hello Portfolio</a></li></ul></div><div id="archives-2" class="sidebar-item mb-50 widget_archive">
                    <h6 class="sidebar-title">Archives</h6>
                    <ul>
                        <li><a href='https://wordpressriverthemes.com/adhira/2021/05/'>May 2021</a></li>
                        <li><a href='https://wordpressriverthemes.com/adhira/2021/04/'>April 2021</a></li>
                    </ul>
                </div><div id="categories-2" class="sidebar-item mb-50 widget_categories">
                    <h6 class="sidebar-title">Categories</h6>
                    <ul>
                        <li class="cat-item cat-item-6">
                            <a href="https://wordpressriverthemes.com/adhira/category/abstract/">Abstract</a>
                        </li>
                        <li class="cat-item cat-item-4">
                            <a href="https://wordpressriverthemes.com/adhira/category/adhira/">Adhira</a>
                        </li>
                        <li class="cat-item cat-item-5">
                            <a href="https://wordpressriverthemes.com/adhira/category/technology/">Technology</a>
                        </li>
                        <li class="cat-item cat-item-1">
                            <a href="https://wordpressriverthemes.com/adhira/category/uncategorized/">Uncategorized</a>
                        </li>
                    </ul>
                </div><div id="meta-2" class="sidebar-item mb-50 widget_meta">
                    <h6 class="sidebar-title">Meta</h6>
                    <ul>
                        <li><a href="https://wordpressriverthemes.com/adhira/wp-login.php">Log in</a></li>
                        <li><a href="https://wordpressriverthemes.com/adhira/feed/">Entries feed</a></li>
                        <li><a href="https://wordpressriverthemes.com/adhira/comments/feed/">Comments feed</a></li>
                        <li><a href="https://wordpress.org/">WordPress.org</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


